    /*
    Flaticon icon font: Flaticon
    Creation date: 27/06/2019 20:40
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-facebook-circular-logo:before { content: "\f100"; }
.flaticon-phone:before { content: "\f101"; }
.flaticon-user:before { content: "\f102"; }
.flaticon-facebook:before { content: "\f103"; }
.flaticon-users:before { content: "\f104"; }
.flaticon-feedback:before { content: "\f105"; }
.flaticon-mobile-app:before { content: "\f106"; }
.flaticon-ideas:before { content: "\f107"; }
.flaticon-analysis:before { content: "\f108"; }
.flaticon-web-design:before { content: "\f109"; }
.flaticon-flasks:before { content: "\f10a"; }
.flaticon-ux-design:before { content: "\f10b"; }
.flaticon-idea:before { content: "\f10c"; }
.flaticon-innovation:before { content: "\f10d"; }
    
    $font-Flaticon-facebook-circular-logo: "\f100";
    $font-Flaticon-phone: "\f101";
    $font-Flaticon-user: "\f102";
    $font-Flaticon-facebook: "\f103";
    $font-Flaticon-users: "\f104";
    $font-Flaticon-feedback: "\f105";
    $font-Flaticon-mobile-app: "\f106";
    $font-Flaticon-ideas: "\f107";
    $font-Flaticon-analysis: "\f108";
    $font-Flaticon-web-design: "\f109";
    $font-Flaticon-flasks: "\f10a";
    $font-Flaticon-ux-design: "\f10b";
    $font-Flaticon-idea: "\f10c";
    $font-Flaticon-innovation: "\f10d";