	/*
  	Flaticon icon font: Flaticon
  	Creation date: 27/06/2019 20:40
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-facebook-circular-logo:before { content: "\f100"; }
.flaticon-phone:before { content: "\f101"; }
.flaticon-user:before { content: "\f102"; }
.flaticon-facebook:before { content: "\f103"; }
.flaticon-users:before { content: "\f104"; }
.flaticon-feedback:before { content: "\f105"; }
.flaticon-mobile-app:before { content: "\f106"; }
.flaticon-ideas:before { content: "\f107"; }
.flaticon-analysis:before { content: "\f108"; }
.flaticon-web-design:before { content: "\f109"; }
.flaticon-flasks:before { content: "\f10a"; }
.flaticon-ux-design:before { content: "\f10b"; }
.flaticon-idea:before { content: "\f10c"; }
.flaticon-innovation:before { content: "\f10d"; }