	/*
  	Flaticon icon font: Flaticon
  	Creation date: 27/06/2019 20:40
  	*/
	
	@font-face {
	    font-family: "Flaticon";
	    src: url("../fonts/flaticon/font/Flaticon.eot");
	    src: url("../fonts/flaticon/font/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/flaticon/font/Flaticon.woff2") format("woff2"), url("../fonts/flaticon/font/Flaticon.woff") format("woff"), url("../fonts/flaticon/font/Flaticon.ttf") format("truetype"), url("../fonts/flaticon/font/Flaticon.svg#Flaticon") format("svg");
	    font-weight: normal;
	    font-style: normal;
	}
	
	@media screen and (-webkit-min-device-pixel-ratio:0) {
	    @font-face {
	        font-family: "Flaticon";
	        src: url("../fonts/flaticon/font/Flaticon.svg#Flaticon") format("svg");
	    }
	}
	
	[class^="flaticon-"]:before,
	[class*=" flaticon-"]:before,
	[class^="flaticon-"]:after,
	[class*=" flaticon-"]:after {
	    font-family: Flaticon;
	    font-style: normal;
	    font-weight: normal;
	    font-variant: normal;
	    text-transform: none;
	    line-height: 1;
	    /* Better Font Rendering =========== */
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	}
	
	.flaticon-facebook-circular-logo:before {
	    content: "\f100";
	}
	
	.flaticon-phone:before {
	    content: "\f101";
	}
	
	.flaticon-user:before {
	    content: "\f102";
	}
	
	.flaticon-facebook:before {
	    content: "\f103";
	}
	
	.flaticon-users:before {
	    content: "\f104";
	}
	
	.flaticon-feedback:before {
	    content: "\f105";
	}
	
	.flaticon-mobile-app:before {
	    content: "\f106";
	}
	
	.flaticon-ideas:before {
	    content: "\f107";
	}
	
	.flaticon-analysis:before {
	    content: "\f108";
	}
	
	.flaticon-web-design:before {
	    content: "\f109";
	}
	
	.flaticon-flasks:before {
	    content: "\f10a";
	}
	
	.flaticon-ux-design:before {
	    content: "\f10b";
	}
	
	.flaticon-idea:before {
	    content: "\f10c";
	}
	
	.flaticon-innovation:before {
	    content: "\f10d";
	}